<ion-header>
  <ion-navbar>
    <ion-title>{{recipe.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header color="danger">
      <h2>{{recipe.title}}</h2>
      <ion-note>{{recipe.difficulty}}</ion-note>
    </ion-card-header>
    <ion-card-content>
      <p>{{recipe.description}}</p>
      <div *ngIf="recipe.ingredients.length > 0">
      <br/>  
        <ion-label color="secondary">
          <h2>Ingredients</h2>
        </ion-label>
        <ion-list>
          <ion-item *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}}</ion-item>
        </ion-list>
        <button ion-button clear block (click)="onAddToShoppingList()">Add to Shopping List</button>
      </div>
      <ion-row>
        <ion-col>
          <button ion-button clear block (click)="onEditRecipe()" >Edit</button>
        </ion-col>
        <ion-col>
          <button ion-button clear block (click)="onDeleteRecipe()" color="danger" >Delete</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>