<ion-menu [content]="nav">
    <ion-header>
        <ion-title>Menu</ion-title>
    </ion-header>
    <ion-content>
        <ion-list>
            <button
            ion-item
            icon-left
            *ngIf="isAuthenticated"
            (click)="onLoad(rootPage)"
            >
            <ion-icon name="book"></ion-icon>
            Recipe Book
        </button>
     
            <button
            ion-item
            icon-left
            *ngIf="!isAuthenticated"
            (click)="onLoad(signupPage)"
            >
            <ion-icon name="person"></ion-icon>
            Signup
        </button>
       
            <button
            ion-item
            icon-left
            *ngIf="!isAuthenticated"
            (click)="onLoad(signinPage)"
            >
            <ion-icon name="login"></ion-icon>
            Signin</button>
       
            <button
            ion-item
            icon-left
            *ngIf="isAuthenticated"
            (click)="logout()"
            >
            <ion-icon name="log-out"></ion-icon>
            Logout</button>
        </ion-list>
    </ion-content>
</ion-menu>    
<ion-nav [root]="rootPage" #nav></ion-nav>
